---
export const prerender = true;
import ExperimentLayout from '../../../layouts/ExperimentLayout.astro';
import NasiModePicker from '../../../../experiments/001-nasi-mode-picker/src/NasiModePicker';
---

<ExperimentLayout experimentId="001" title="NASI Mode Picker" status="in-progress">
  <div class="flex justify-center">
    <NasiModePicker client:load />
  </div>
</ExperimentLayout>
