---
export const prerender = true;
import ExperimentLayout from '../../../layouts/ExperimentLayout.astro';
import NasiAppConnect from '../../../../experiments/002-nasi-app-connect/src/NasiAppConnect';
---

<ExperimentLayout experimentId="002" title="NASI App Connect" status="in-progress">
  <div class="flex justify-center">
    <div class="w-[390px] h-[844px] overflow-hidden rounded-3xl shadow-2xl border border-gray-200">
      <NasiAppConnect client:load />
    </div>
  </div>
</ExperimentLayout>
